nose==1.3.7
flake8==7.0.0
pylint==3.0.3
m3u8==4.0.0
requests==2.31.0
bottle==0.12.23
https://github.com/willforde/kodi-addondev/archive/master.zip
git+https://github.com/xtero/kodi-mock@master
urlquick==2.0.1
kodi-addon-checker==0.0.31
