<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30072">
        <setting id="crunchyroll_username" type="text" label="30001" default=""/>
        <setting id="crunchyroll_password" type="text" label="30002" option="hidden" default=""/>
    </category>
    <category label="30073">
        <setting id="prefered_audio" type="select" lvalues="30085|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031" label="30084" default="0" />
        <setting id="subtitle_language" type="select" lvalues="30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031" label="30020" default="0" />
    </category>
    <category label="30074">
        <setting id="sync_playtime" type="bool" label="30003" default="true"/>
        <setting id="page_size" type="number" label="30070" default="20"/>
        <setting id="inputstream_adaptive" type="action" label="30004" option="close" action="Addon.OpenSettings(script.module.inputstreamhelper)"/>
        <setting id="inputstream_adaptive" type="action" label="(Re)install Widevine CDM..." action="RunScript(script.module.inputstreamhelper,widevine_install)"/>
    </category>
    <category label="30075">
        <setting id="skip_intro" type="bool" label="30076" default="false"/>
        <setting id="skip_credits" type="bool" label="30077" default="false"/>
        <setting id="skip_recap" type="bool" label="30078" default="false"/>
        <setting id="skip_preview" type="bool" label="30079" default="false"/>
    </category>
</settings>
